<%# eachメソッドを使い、すべてのmaskを表示します%>
<div class="contents">
  <% @masks.each do |mask| %>
    <%= mask.name %>
    <%= mask.text %>
    <%= image_tag mask.image.variant(resize:'500x500'), class: 'mask-image' if mask.image.attached? %>
  <% end %>
</div>