<div class="contents">
    <h3><%= @nickname %>さんの投稿一覧</h3>
  <div class="content">
    <% @masks.each do |mask| %>
      <div class="pic">
        <p><%= mask.text %></p>
        <%= image_tag mask.image.variant(resize:'500x500'), class: 'mask-image' if mask.image.attached? %>
      </div>
    <% end %>
  </div>
</div>
