<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <%= will_paginate previous_label: ' &lt 前へ', next_label: '次へ &gt' %>
  <% @masks.each do |mask| %>
    <div>
      <%= image_tag mask.image.variant(resize:'500x500'), class: 'mask-image' if mask.image.attached? %>
      <p><%= mask.text %></p>
    </div>
  <% end %>
</div>
