* {
  box-sizing: border-box;
}

.pagination li {
  display: inline;
  padding: 10px 15px;
  border: 1px solid;
  border-radius: 5px / 5px;
  color:white;
  background-color: chartreuse;
}

.pagination li:hover{
  color: black;
  background-color: white;
}

.contents{
  width: 70vw;
  margin: 0 auto;
  padding: 0;
}

.top-bar{
  display: flex;
  flex-direction: column;
}

.top-bar-top{
  display: flex;
  justify-content: center;
}

.content{
  border: 1px solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left-side {
  border: 1px solid;
  margin: auto;
  padding: auto;
}

.center {
  border: 1px solid;
  margin: 0;
  padding: 0;
}

.right-side {
  border: 1px solid;
  margin: auto;
  padding: auto;
}

.comments{
  border: 1px solid;
}