* {
  box-sizing: border-box;
}

body {
  border: 1px solid;
  margin: 0;
  padding: 0;
}

.pagination li {
  display: inline;
}

.content{
  width: 70vw;
  margin: 0 auto;
  padding: 0;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
}

.left-side {
  display: flex;
  flex-direction: column;
}

.right-side {
  display: flex;
  flex-direction: column;
}
