* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* background-image: url(https://source.unsplash.com/random); */
  /* background-size: contain; */
}

header {
  border: 1px solid;
  margin: 0;
  padding: 0;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn1{
  padding: 10px;
  color: white;
  background-color: black;
}

.btn1:hover{
  color: black;
  background-color: white;
}

footer {
  border: 1px solid;
  margin: 0;
  padding: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}