* {
  box-sizing: border-box;
}

body {
  border: 1px solid;
  margin: 0;
  padding: 0;
  /* background-image: url(https://source.unsplash.com/random); */
  /* background-size: contain; */
}

header {
  border: 1px solid;
  margin: 0;
  padding: 0 20px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer {
  border: 1px solid;
  margin: 0;
  padding: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}