* {
  box-sizing: border-box;
}

body {
  border: 1px solid;
  margin: 0;
  padding: 0;
}

header {
  border: 1px solid;
  margin: 0;
  padding: 0 20px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contents{
  width: 70vw;
  border: 5px solid black;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

.content-left{
  flex: 2;
}

.content-right{
  flex: 1;
}



footer {
  border: 1px solid;
  margin: 0;
  padding: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}