.contents {
  margin: 0 auto;
  outline: solid;
}

h3 {
  display: flex;
  justify-content: center;
  margin: 0;
}

.content {
  display: flex;
  justify-content: flex-start;
  overflow: auto;
}

.pic {
  outline: 1px solid;
}